<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: '#da373d',
            }
          }
        }
      }
  </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Form</title>
</head>
<body style="font-family: century Gothic;">

  <div class="pl-60 pr-60 pt-10  w-full  h-full bg-gray-800">
    <div class="ml-[5%] p-10 ">
      
      <form id="applyForm" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 pr-28 pl-28 mb-4">
        <h3 id="message" class="text-green-600 text-xl text-center border-b font-bold "></h3>
         <div>
        <h3 class="p-4 text-gray-700 font-bold text-xl border-b text-center">Job Application Form</h3>
        <p class="pt-3">As the CEO, CTO, CMO of QWERTY Ltd, you will be responsible for providing strategic leadership, driving growth, and overseeing the overall operations of the company. You will play a pivotal role in shaping the company's vision, leading teams, and ensuring the achievement of business objectives..</p>
        <p class="pt-5 text-red-500"><span class="text-red-500 text-xl font-bold">*</span> Indicates required question</p>
        </div>
        <div class="mb-4 pt-5">
            <label class="block text-gray-600 text-sm font-bold mb-2" for="email">
              Name <span class="text-red-500 text-xl font-bold">*</span>
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-600 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" name="name" placeholder="Enter your Names" required>
          </div>
          <div class="mb-4 pt-5">
            <label class="block text-gray-600 text-sm font-bold mb-2" for="email">
              Email <span class="text-red-500 text-xl font-bold">*</span>
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-600 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" name="email" placeholder="Enter your Email adderss" required>
          </div>
          <div class="mb-6">
            <label class="block text-gray-600 text-sm font-bold mb-2" for="password">
              Phone Number <span class="text-red-500 text-xl font-bold">*</span>
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-600 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="phone" type="number" name="phone" placeholder="+250787654212" required>
           
          </div>
          <div class="mb-6">
            <label class="block text-gray-600 text-sm font-bold mb-2" for="password">
              Which position(s) are you interested in?
            </label>
                <div class="flex gap-3">
                    <input class="" id="job" type="radio" name="job" value="it">
                    <label>Head Information Technology</label>
                </div>
                <div class="flex gap-3">
                    <input class="" id="job" type="radio" name="job" value="cmo">
                    <label>Chief Marketing Officer</label>
                </div>
                <div class="flex gap-3">
                    <input class="" id="job" type="radio" name="job" value="ceo">
                    <label>Chief Executive Officer</label>
                </div>
                <div class="flex gap-3">
                    <input class="" id="job" type="radio" name="job" value="it-manager">
                    <label>IT Manager</label>
                </div>
        
          </div>

          <div class="mb-6">
            <label class="block text-gray-600 text-sm font-bold mb-2" for="password">
                Submit your cover letter or resume link <span class="text-red-500 text-xl font-bold">*</span>
            </label>
            <textarea class="shadow appearance-none border rounded w-full py-2 px-2 text-gray-600 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="link" name="link" placeholder="Enter the link" required></textarea>
           
          </div>


          <div class="items-center justify-between flex">
            <input type="submit" name="login" value="Submit" class="bg-blue-500 w-1/6 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
            <button  onclick="window.location.reload();" class="bg-blue-300 w-1/6 hover:bg-blue-700 text-grey-600 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Clear All</button>
              
            </div>
            <div class="p-5 w-full">
                <p>This Offer was provided by QWERTY Ltd, trust us .....</p>                         
            </div>
            
         
        </form>
     
      </div>
</div>



<script>
document.getElementById('applyForm').addEventListener('submit', function(event) {
         event.preventDefault();
   
       
         const name = document.getElementById('name');
           const email = document.getElementById('email');
           const phone = document.getElementById('phone');
           const position = document.querySelector('#job:checked');
           const link = document.getElementById('link');

          const nameValue = name.value;
          const emailValue = email.value;
          const phoneValue = phone.value;
          const linkValue = link.value;
          const positionValue = position.value;
          //  console.log(nameValue,emailValue,positionValue,linkValue,phoneValue)
         

         fetch('/applicant/add', {
           method: 'POST',
           headers: {
               'Content-Type': 'application/json'
           },
           body: JSON.stringify({name: nameValue, email: emailValue, position: positionValue, link: linkValue, phone: phoneValue})

           })
           .then(function(response) {
             if (response.ok) {
               return response.json();
             } else {
               throw new Error('Error: ' + response.status);
             }
           })
           .then(function(data) {
            
              const messageElement = document.getElementById("message");
              messageElement.innerHTML = data.message;
            
              name.value = '';
              email.value = '';
              phone.value = '';
              position.checked = false;
              link.value = '';
            
           })
           .catch(function(error) {
             alert(error.message);
           });
       });
</script>

</body>
</html>