<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
    
             fetch('http://localhost:5500/users', {
                 method: 'GET',
                 headers: {
                     'Content-Type': 'application/json'
    
                 }
             })
             .then(response => response.json())
             .then(data => {
                // const users = document.getElementById('users');
                // jsondata = JSON.stringify(data);
                // users.innerHTML = jsondata.name;
                 console.log(data)
                
                 const dataTable = document.getElementById('dataTable');
                 data.forEach(item => {
                    const row = document.createElement('tr');
                    const idCell = document.createElement('td');
                    idCell.textContent = item.id;
                    const nameCell = document.createElement('td');
                    nameCell.textContent = item.name;
                    const emailCell = document.createElement('td');
                    emailCell.textContent = item.email;
                 
                    row.appendChild(idCell);
                    row.appendChild(nameCell);
                    row.appendChild(emailCell);
                 
                    dataTable.querySelector('tbody').appendChild(row);
                });
             })
             .catch(error =>{
                 console.error(error)
             });
            
            
     </script>

        <a href="logout" >Logout</a>
        <hr>
        <p id="users">All Users</p>
        <table id="dataTable" border="1">
            <thead>
                <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be dynamically added here -->
            </tbody>
            </table>




</body>
</html>


